@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
  }
}

@keyframes redToBlack {
  0% {
    color: rgb(220, 38, 38);
  }
  50% {
    color: rgb(220, 38, 38);
  }
  100% {
    color: black;
  }
}

@keyframes greenToBlack {
  0% {
    color: rgb(22, 163, 74);
  }
  50% {
    color: rgb(22, 163, 74);
  }
  100% {
    color: black;
  }
}

.down {
  animation: redToBlack 2s linear;
}

.up {
  animation: greenToBlack 2s linear;
}
